footer {
  width: 100%; padding: 50px 0px;
  background: #272727;
  border-top: 2px solid #2c2c2c; 

  .inner {
    width: 1180px; margin: 0px auto; 

    p {
      font: 12px/1 'arial'; color: #888; text-align: center;
    }
  }
}




@media screen and (max-width: $tablet){
  footer {
    .inner {
      width: 100%; padding: 0px 3vw;
    }
  }
}