header {
  width: 100%; background: #333;

  .inner {
    width: 1180px; height: 100px; margin: 0px auto; position: relative;

    h1 {
      position: absolute; left: 0px; bottom: 20px;

      a {
        font: bold 24px/1 'arial'; color: #fff; 
      }
    }

    #gnb {
      position: absolute; bottom: 0px; right: 0px;

      li {
        float: left;

        a {
          display: inline-block; padding: 20px 30px; font: 14px/1 'arial'; color: #fff; transition: 0.5s;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet){
  header {
    .inner {
      width: 100%;

      h1 {
        left: 3vw;
      }

      #gnb {
        display: none;
      }
    }
  }
}