header {
  width: 100%; background: #333;

  .inner {
    width: 1180px; height: 100px; margin: 0px auto; position: relative;

    h1 {
      position: absolute; left: 0px; bottom: 20px;

      a {
        font: bold 24px/1 'arial'; color: #fff; 
      }
    }

    #gnb {
      position: absolute; bottom: 0px; right: 0px;

      li {
        float: left;

        a {
          display: inline-block; padding: 20px 30px; font: 14px/1 'arial'; color: #fff; transition: 0.5s;
        }
      }
    }

    .fa-bars {
      font-size: 20px; color: #fff; position: absolute; bottom: 20px; right: 5vw; display: none;
    }
  }

  &.main {
    background: #fff;

    .inner {
      h1 a { color: #333;}
      #gnb li a { color: #555;}

    }
  }
}

@media screen and (max-width: $tablet){
  header {
    .inner {
      width: 100%;

      h1 {
        left: 5vw;
      }

      #gnb {
        display: none;
      }

      .fa-bars {
        display: block;
      }
    }
  }
}