header {
  width: 100%; background: #333;

  .inner {
    width: 1180px; height: 100px; margin: 0px auto; position: relative;

    h1 {
      position: absolute; left: 0px; bottom: 20px;

      a {
        font: bold 24px/1 'arial'; color: #fff; 
      }
    }

    #gnb {
      position: absolute; bottom: 0px; right: 0px;

      li {
        float: left;

        a {
          display: inline-block; padding: 20px 30px; font: 14px/1 'arial'; color: #fff; transition: 0.5s;
        }
      }
    }

    .fa-bars {
      font-size: 20px; color: #fff; position: absolute; bottom: 20px; right: 5vw; display: none; cursor: pointer;
    }
  }

  &.main {
    width: 100%; height: 100px; background: transparent; position: absolute; top: 0px; left: 0px; z-index: 5;

    .inner {
      width: 100%; height: 100%; position: relative;

      h1 {
        left: 10vw;
      }
     
      #gnb {
        right: 10vw;
      }
      

    }
  }
}

nav {
  width: 280px; height: 100vh; background: rgba(0,0,0,.95);
  position: fixed; top: 0px; left: -280px; z-index: 7; transition: 0.5s; padding: 50px;

  ul li a {
    font: bold 20px/1 'arial'; color: orange; 
    display: inline-block; padding: 20px;
  }

  &.on {
    left: 0px;
  }
}

@media screen and (max-width: $tablet){
  header {
    .inner {
      width: 100%;

      h1 {
        left: 5vw;
      }

      #gnb {
        display: none;
      }

      .fa-bars {
        display: block;
      }
    }
  }
}