* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul,ol,li {
  list-style: none;
}
a {
  text-decoration: none;
}
header, footer, figure, main, section {
  border: 1px solid #bbb;
  padding: 30px;
}