* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul,ol,li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
table {
  border-collapse: collapse;
}
label, input {
  vertical-align: middle;
}
.h {
  position: absolute; top: -99999px; opacity: 0;
}
fieldset {
  border: none;
}