#news {
  width: 100%; background: #272727;
  //border: 2px solid red;

  .inner {
    width: 1180px; position: relative; 
    margin: 0px auto; padding: 150px 0px;
    border-left: 2px solid #2d2d2d;
    border-right: 2px solid #2d2d2d;

    display: flex; flex-wrap: wrap;

    h1 {
      width: 100%;
      font: bold 45px/1 'Oswald'; color: #c5a57c; //#c5a57c;
      text-align: center; letter-spacing: 8px;
      margin-bottom: 150px; z-index: 5;
    }

    .txt{
      width: 50%; height: 100%; padding-right: 10%;

      h2{
        font: 28px/1 'Poppins'; color: #eee; letter-spacing: 2px;
        margin-bottom: 5%;
      }
      p{
        font: 14px/1.8 'Poppins'; color: #777; letter-spacing: 2px;
        margin-bottom: 10%;
      }
      a{
        font: 14px/1 'Poppins'; color: #bbb; letter-spacing: 2px;
      }
    }

    ul {
      width: 50%; 
      //display: flex; flex-wrap: wrap; justify-content: space-between; align-content: flex-start;

      li {
        width: 100%; display: flex; padding: 30px; 
        border-bottom: 2px solid #2d2d2d;

        &:nth-of-type(1){ padding-top: 0; }
        &:last-of-type{ border-bottom: none; }

        h2 {
          width: 50%;
          font: 28px/1.8 'Poppins'; color: #eee; 

          span{ color: #c5a57c; }
        }
        p {
          width: 50%;
          font: 14px/1.8 'Poppins'; color: #777; letter-spacing: 2px;
        }
      }
    }

    &::before{
      content: ''; display: block;
      width: 2px; height: 100%; background: #2d2d2d;
      position: absolute; top: 0; left: calc( 100% / 3 );
    }
    &::after{
      content: ''; display: block;
      width: 2px; height: 100%; background: #2d2d2d;
      position: absolute; top: 0; left: calc( 100% / 3 * 2 );
    }
  }
}



@media screen and (max-width: $tablet) {

  #news {
    .inner {
      width: 100%; padding: 150px 3vw ;
  
      .txt{ z-index: 3; }
    }
  }
}