.mainVisual {
  width: 100%; height: 100vh; background: #272727; position: relative;


  border: 2px solid red;

  .swiper {
    height: 100%;

    .swiper-slide {
      //background: aqua; 
      width: 100%; 
      display: flex; justify-content: center; align-items: center; font-size: 10vw; color: #fff;
    }
  }
}

@media screen and (max-width: $tablet) {
  figure {
    
    
  }
}
