.community {
  //background:rgb(22, 22, 22);

  .inner {
    >section {
      .inputBox {
        width: 100%; padding: 50px; margin-bottom: 50px; 
        
        
        
        border: 1px solid red;
      }

      .showList {
        width: 100%; padding: 50px; border: 1px solid #aaa;

        article {
          width: 100%; padding: 30px; border: 1px solid #bbb; margin-bottom: 20px;
        }
      }
    }
  }
}