.community {
  .inner {
    h1{}
    >section {
      width: 100%; padding: 300px 0 150px 0;
      border-left: 2px solid #2c2c2c;
      border-right: 2px solid #2c2c2c;

      &::after{
        content: 'community'; display: block; 
        font: bold 212px/1 'arial'; color: #2d2d2d; 
        letter-spacing: 5px;
        position: absolute; left: -800px; top: 220px;
        z-index: -5;
    }

      .inputBox {
        width: 100%;
        margin-bottom: 50px; 
        text-align: center;
      
        
        //border: 1px solid red;

        input{
          width: 40%; height: 50px;
          border: none; background: none;
          border-bottom: 2px solid #555;
          margin-bottom: 30px;
        }
        textarea{
          width: 80%; height: 150px; padding: 20px;
          background: none;
          border: 2px solid #555;
          margin-bottom: 30px; 
        }
        button{
          width: 80px; height: 40px;
          background: #c5a57c; 
          color: #ccc; cursor: pointer;

          &:last-child{ margin-left: 50px; }
        }
      }

      .showList {
        width: 100%; padding: 50px; border: 2px solid #2c2c2c;
        display: flex; flex-wrap: wrap;

        article {
          width: calc( 100% / 3 ); padding: 30px; 
          border: 2px solid #2c2c2c; 
          margin-bottom: 20px;

          .post{
            width: 100%; 

            h2{ 
              color: #bbb; 
              margin-bottom: 20px;
            }
            
            p{ 
              color:#888; 
              margin-bottom: 20px;
            } 

          }
          .btns{
            width: 100%;

            button{
              width: 80px; height: 40px;
              background: none; //#c5a57c; 
              border: none; 
              color: #ccc; cursor: pointer;
    
              &:last-child{ margin-left: 50px; }
            }
          }
        }
      }
    }
  }
}