.department{
    figure{
        >.inner{
            >h1{ }
        }
    }

    >.inner{

        .introAbout{
            width: 100%; position: relative;

            //border: 1px solid red; 

            >h1{
                font: bold 45px/1 'Oswald'; color: #eee;
                letter-spacing: 8px;
                position: absolute; left: 50%; top: 150px;
                transform: translateX(-50%);

                span{ color: #c5a57c; }
            }

            .wrap{
                width: 100%; display: flex; position: relative;

                >article{
                    width: calc(100% / 3);
                    padding: 300px 15px 150px 0;
                    border-left: 2px solid #2c2c2c;

                    &:last-child{ border-right: 2px solid #2c2c2c; }

                    >h2{ 
                        font: bold 36px/1.2 'Open Sans'; color: #ccc; 
                        padding-right: 20px; margin-bottom: 40px;
                    }

                    >p{
                        font: 15px/1.7 'arial'; color: #888;
                        padding-right: 10px;
                    }

                    svg {
                        width: 50px; height: 50px;
                        color: #c5a57c; 
                        margin-bottom: 10px;
                      }

                    h3{
                        font: bold 22px/1 'Montserrat'; color: #bcbcbc;
                        letter-spacing: 3px;
                        margin-bottom: 10px;

                        &:last-child{ margin-bottom: 0;}
                    }

                    &:last-child{
                        //height: 100%; 
                        padding: 300px 0 150px 0; 

                        img{ width: 100%; height: 100%; object-fit: cover; }
                    }
                }

                &::after{
                    content: 'about'; display: block; 
                    font: bold 212px/1 'arial'; color: #2d2d2d; 
                    letter-spacing: 5px;
                    position: absolute; left: -300px; top: 220px;
                    z-index: -5;
                }
            }
        }


        .ceoAbout{
            width: 100%; position: relative; display: flex; height: 850px;
            
            >.pic{
                width: calc(100% / 2); height: 100%; 
                padding: 40px 40px 40px 0;
                border-left: 2px solid #2c2c2c;


                //border: 1px solid red; 

                img{  width: 100%; height: 100%; object-fit: cover; }
            }

            >.txt{
                width: calc(100% / 2); height: 100%; 
                padding: 40px 0px 40px 40px;
                border-right: 2px solid #2c2c2c;


                //border: 1px solid red; 

                >h2{ 
                    font: bold 36px/1.2 'Open Sans'; color: #ccc; 
                    padding-right: 20px; margin-bottom: 40px;
                }

                >p{
                    font: 15px/1.7 'arial'; color: #888;
                    padding-right: 10px; margin-bottom: 40px;
                }

                >span{ 
                    font: 15px/1.7 'arial'; color: #ccc;
                    padding-right: 10px;


                    text-align: right;  //?????????????
                }
            }
        }


        .memberAbout{
            width: 100%; position: relative;

            //border: 1px solid red; 

            >h1{
                font: bold 45px/1 'Oswald'; color: #c5a57c;
                letter-spacing: 8px;
                position: absolute; left: 50%; top: 150px;
                transform: translateX(-50%);

                span{ color: #eee; }
            }

            button{ position: absolute; }

            >section{
                width: 100%; display: flex; 

                article{
                    width: calc(100% / 3); 
                    padding: 300px 50px 150px 50px;
                    border-left: 2px solid #2c2c2c;
                    &:last-child{ border-right: 2px solid #2c2c2c; }

                    &:nth-of-type(1){padding-left: 0; padding-right: 100px; }
                    &:nth-of-type(3){padding-left: 100px; padding-right: 0; }

                    img{
                        width: 100%; height: 80%; object-fit: cover; 
                        margin-bottom: 50px;
                        filter: saturate(50%);
                        transition: 0.5s;

                    }
                    h2{
                        font: bold 22px/1 'Montserrat'; color: #bcbcbc;
                        letter-spacing: 3px;
                        margin-bottom: 10px;
                        position: relative;

                        &::after{ 
                            content: ''; display: block;
                            width: 0px; height: 3px; 
                            background: #c5a57c;
                            position: absolute; 
                            transition: 0.5s;
                        }
                    }
                    p{ font: 15px/1.7 'arial'; color: #888; }

                    &:hover{
                        img{ filter: saturate(100%); }

                        h2{
                            &::after{ width: 120px; }
                        }
                    }
                }

                &::after{
                    content: 'teams'; display: block; 
                    font: bold 212px/1 'arial'; color: #2d2d2d; 
                    letter-spacing: 5px;
                    position: absolute; right: -300px; bottom: 725px;
                    z-index: -5;
                }
            }
        }
    }
}

//#c5a57c