.gallery {
  background: #efefef;

  .inner {

    .loading {
      position: absolute; top: 0px; left: 50%; width: 50%; transform: translateX(-50%);
    }
    >section {
      transform: translateY(200px); opacity: 0;
      transition: 1s;

      &.on {
        transform: translateY(0px); opacity: 1;
      }

      &::after {
        content: ''; display: block; clear: both;
      }

      article {
        width: 20%; float: left; padding: 10px;

        >.inner {
          width: 100%; height: 100%; background: #fff; box-shadow: 5px 5px 10px rgba(0,0,0, .1); padding: 10px;

          .pic {
            width: 100%; margin-bottom: 10px; cursor: pointer;

            img {
              width: 100%; 
            }            
          }

          h2 {
            font: normal 14px/1.2 'arial'; color: #777; margin-bottom: 20px;
          }
        }
      }
    }
  }  
}

.popup {
  width: 100%; height: 100%; background: rgba(0,0,0,.9); position: fixed; top: 0px; left: 0px; padding: 5vw;

  img {
    width: 100%; height: 100%; object-fit: contain;
  }

  span {
    font: bold 14px/1 'arial'; color: #fff; position: absolute; top: 4vh; right: 5vw; cursor: pointer;
  }
}