.location {
  //background:rgb(22, 22, 22);

  figure{
    .inner{
      h1{}
    }
  }

  >.inner {
    position: relative;
    padding-top: 0;

    >h1{ 
      position: absolute; top: 84px; left: 0;

      &::before{
        content: 'say hi to the team'; display: block;
        font: 14px/1 'arial'; color: #bbb;
        margin-bottom: 15px;
      }
    }

    >.wrap{
      width: 100%; display: flex; justify-content: space-between;
      padding-left: 60px;
      
      .send{
        width: 45%;
        border-right: 1px solid rgb(50, 50, 50);
        border-left: 1px solid rgb(50, 50, 50);
        padding: 230px 60px 200px 60px;
        position: relative;

        p{
          color: #bbb;
          margin-bottom: 50px;
        }

        input{
          width: 100%; height: 40px;
          margin-bottom: 40px;
          border:none; border-bottom: 2px solid #555;
          background: none;
          font: 14px/1 'arial';
          color:#555;

        }
        button{
          width: 100%; height: 50px;
          background: #c5a57c; //#c9b497;//#444; 
          font:bold 14px/1 'arial'; color: #bbb;
        }

        &::after{
          content: ''; display: block;
          width: 120%; height: 2px; background: rgb(50, 50, 50);
          position: absolute; bottom: 60px; left: -10%;
        }
      }

      .oas{
        width: 45%;
        border-right: 1px solid rgb(50, 50, 50);
        border-left: 1px solid rgb(50, 50, 50);
        padding: 100px 60px 200px 60px;

        >article{
          

          margin-bottom: 30px;

          h2{
            margin-bottom: 10px;
            font: 18px/1 'arial'; color: #555;

          }
          p{
            color: #bbb;
          }
        }
      }
    }
  }

  >section {
    width: 100%; height: 500px; position: relative;
    
    .branch{ 
      display: block; width: 1180px;
      padding: 0 60px 0 44%; 
      position: absolute; top: -71px; left: 50%; transform: translateX(-50%);
      display: flex; justify-content: flex-end;

      //border: 1px solid red;

      button{
        border: none; background: none; 
        font:bold 14px/1 'arial'; color: #555;
        cursor: pointer;

        &:last-child { margin-left: 170px; }
      }
    }

    #map {
      width: 100%; height: 100%; //background: #000;
      filter:saturate(10%);
    }
    .mapBox{ 
      width: 40%; height: 500px;
      position: absolute; bottom: 0; right: 0;
      border: 1px solid red; 
    }
  }
}