.location {
  figure{
    .inner{
      h1{}
    }
  }

  >.inner {
    >h1{}

    >h2{ 
      margin-bottom: 100px; 
      padding-left: 20px;
      font: bold 58px/1 'Abril Fatface'; color: #eee; letter-spacing: 4px;
      
      position: absolute; top: 300px; left: 0; z-index: 5;

      &::before{
        content: 'say hi to the team'; display: block;
        font: 14px/1 'Poppins'; color: #bbb;
        margin-bottom: 15px;
      }
    }

    >.wrap{
      width: 100%; display: flex; justify-content: space-between;
      padding-left: 60px;
      
      .send{
        width: 45%;
        border-right: 1px solid rgb(50, 50, 50);
        border-left: 1px solid rgb(50, 50, 50);
        padding: 446px 60px 200px 60px;
        position: relative;

        p{
          font: 14px/1.6 'Poppins'; color: #bbb;
          margin-bottom: 50px;
        }

        input{
          width: 100%; height: 40px;
          margin-bottom: 40px;
          border:none; border-bottom: 2px solid #555;
          background: none;
          font: 14px/1 'Poppins';
          color:#555;

        }
        button{
          width: 100%; height: 50px;
          background: #c5a57c; 
          font:bold 14px/1 "Poppins"; color: #ccc;
          letter-spacing: 2px;
          border: none; cursor: pointer;
        }

        &::after{
          content: ''; display: block;
          width: 120%; height: 2px; background: rgb(50, 50, 50);
          position: absolute; bottom: 60px; left: -10%;
        }
      }

      .oas{
        width: 45%;
        border-right: 1px solid rgb(50, 50, 50);
        border-left: 1px solid rgb(50, 50, 50);
        padding: 316px 60px 200px 60px;

        >article{

          margin-bottom: 30px;

          h3{
            margin-bottom: 12px;
            font: 18px/1 'Poppins'; color: #555;

          }
          p{
            font: 14px/1.6 'Poppins'; color: #bbb;
          }
        }
      }

      &::after{
        content: 'get in contact'; display: block; 
        font: bold 212px/1 'arial'; color: #2d2d2d; 
        letter-spacing: 5px;
        position: absolute; left: -1080px; top: 220px;
        z-index: -5;
      }
    }
  }

  >section {
    width: 100%; height: 500px; position: relative;
    
    .branch{ 
      display: block; width: 1180px;
      padding: 0 60px 0 44%; 
      position: absolute; top: -71px; left: 50%; transform: translateX(-50%);
      display: flex; justify-content: flex-end;

      //border: 1px solid red;

      button{
        border: none; background: none; 
        font:bold 14px/1 'Poppins'; color: #555;
        letter-spacing: 2px;
        cursor: pointer;

        &:last-child { margin-left: 170px; }
      }
    }

    #map {
      width: 100%; height: 100%; 
      filter:saturate(0%) invert(86.5%); 

      img{ z-index: 5;}
    }
    .mapBox{ 
      width: 40%; height: 100%;
      background:rgba(197, 165, 124, 0.8);
      position: absolute; bottom: 0; right: 0;
      //border: 1px solid red; 

      &::after{
        content: 'location'; display: block; 
        font: bold 80px/1 'arial'; color: #c5a57c; 
        letter-spacing: 18px;
        position: absolute; right: -160px; top: 200px;
        transform: rotate(-90deg);
        z-index: 5;
      }
    }
  }

  .innerWorldMap {
    width: 1180px; margin: 0px auto; position: relative; 
    //transform: translateY(100px); opacity: 0; transition: 1s 0.5s;

    >h1{
      font: bold 45px/1 'Oswald'; color: #eee;
      letter-spacing: 8px;
      position: absolute; left: 50%; top: 150px;
      transform: translateX(-50%);

      span{ color: #c5a57c; }
    }

    .worldMap{
      width: 100%;
      border-left: 2px solid #2c2c2c;
      border-right: 2px solid #2c2c2c;
      padding: 300px 0 150px 0;
      position: relative; overflow: hidden;

      img{ width: 100%; object-fit: cover; } 

      .txtbox{
        width: 190px; height: 200px;
        padding: 25px;
        background: rgba(0,0,0,.4);
        position: absolute; top: 255px; left: 210px;

        h2{ 
          font:bold 16px/1 'Poppins'; color: #c5a57c;
          letter-spacing: 4px;
          margin-bottom: 30px;
        }
        p{
          font:bold 14px/2 'Poppins'; color: #bbb;
        }
      }

      &::before{
        content: ''; display: block;
        width: 16px; height: 16px; background: #c5a57c;
        border-radius: 25px; z-index: 5;
        box-shadow: 0px 0px 20px 10px rgba(197, 165, 124, 0.6);
        position: absolute; top: 476px; left: 295px;
      } //america
      &::after{
        content: ''; display: block;
        width: 16px; height: 16px; background: #c5a57c;
        border-radius: 25px; z-index: 5;
        box-shadow: 0px 0px 20px 10px rgba(197, 165, 124, 0.6);
        position: absolute; top: 440px; left: 575px;
      } //europe
    }

    &::before{
      content: ''; display: block;
      width: 16px; height: 16px; background: #c5a57c;
      border-radius: 25px; z-index: 5;
      box-shadow: 0px 0px 20px 10px rgba(197, 165, 124, 0.6);
      position: absolute; bottom: 300px; right: 180px;
    } //australia
    &::after{
      content: ''; display: block;
      width: 16px; height: 16px; background: #c5a57c;
      border-radius: 25px; z-index: 5;
      box-shadow: 0px 0px 20px 10px rgba(197, 165, 124, 0.6);
      position: absolute; top: 440px; right: 220px;
    } //asia
  }
}

// #c5a57c = rgb(197, 165, 124)