.youtube {
  //background:rgb(22, 22, 22);
  background:#272727;

  .inner {

    //h1{ color: #eee; }

    >section {
      padding-bottom: 150px;
      position: relative;

      &::after { content: ''; display: block; clear: both; }

      article {
        width: 100%; height: 400px; 
        float: left; padding: 40px; overflow: hidden; 
        border-top: 1px solid rgb(50, 50, 50);
        &:last-of-type{ border-bottom: 1px solid rgb(50, 50, 50); }

        .inner {
          width: 100%; height: 100%; //background: #efefef; 
          //box-shadow: 3px 3px 10px rgba(0,0,0,.1); padding: 10px;
          display: flex; flex-wrap: wrap; 
          align-content: space-between; 
          justify-content: center;

          /*
          word-break: 텍스트의 줄바꿈 속성 지정
          - normal : 한글은 한글자 기준, 영어는 단어를 기준으로 줄바꿈 됨 (default)
          - break-all : 한글과 영어 모두 글자단위로 줄바꿈
          - keep-all : 한글, 영어 모두 단어 기준으로 줄바꿈
          */

          .txt {
            width: 50%; height: 100%; padding: 30px 40px;

            h2 {
              font: 40px/1.2 'Playfair Display'; color: #ccc; margin-bottom: 30px; word-break: break-all; 
            }

            p {
              font: 16px/1.8 'arial'; color: #888; word-break: break-all;
            }
          }

          .pic {
            width: 50%; //height: 100%; 
            overflow: hidden; cursor: pointer;

            img {
              width: 100%; height: 100%; 
              object-fit: cover;
              transform: scale(1.8);
            }
          }
        }

        &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(6), &:nth-of-type(7), &:nth-of-type(8){
          width: calc(100% / 3); 
          padding-right: 0;
          

          >.inner {
            position: relative;
            padding-right: 40px;
            border-right: 1px solid rgb(50, 50, 50);

            //&:nth-of-type(3) { border-right: none; }

            .txt {
              width: 100%; height: 50%; 
              padding: 0px; 

              h2 {
                font: 27px/1.4 'Playfair Display'; color: #bbb; 
                margin-bottom: 0px; 
              }
  
              p { display: none; }
            }
  
            .pic {
              width: 100%; height: 50%; 
  
            }
          }
        }

        &:nth-of-type(5){
          margin-bottom: 300px;
          border-bottom: 1px solid rgb(50, 50, 50);

          .inner{
            display: block;

            &::after { content: ''; display: block; clear: both; }

            .txt{ float: right; }
            .pic{ float: left; }
          }
        }
      }

      .saybox{
        width: 100%; height: 300px;
        padding: 60px 20%;
        position: absolute; bottom: 950px;
        text-align: center;

        p{
          font:26px/1.6 'Parisienne'; color: #888;
          margin-bottom: 20px;
        }
        span{
          font:14px/1 'Playfair Display'; color: #666;
        }
      }
    }
  }
}

